html,
body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #edf2f6;
  /* font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu; */
  font-family:Arial, Helvetica, sans-serif; 
}
i {
  font-style:normal;
}
.box-card {
  height: 100%;
  overflow: auto;
}
ul, ol {
  list-style: none;
}
.el-menu .el-menu--popup .el-menu--popup-bottom-start {
  background-color: #fff!important;
}
.inblock {
  display: inline-block;
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
  border-radius: 5px;
  /* background: rgba(0,0,0,0.1); */
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(202, 12, 12, 0.2);
}
.mytasksearch {
  width: 300px;
  margin-top: 11px;
  margin-left: 20px;
  margin-right: 10px;
}
.search-box {
  display: inline;
  position: relative;
}
.sreach-icon {
  color: #adadad;
  position: absolute;
  font-size: 18px;
  right: 18px;
  top: 3px;
}
.font {
  position: absolute;
  top: 12px;
  font-size: 22px;
  color: #4d5d71;
  font-family: Microsoft YaHei;
}
/* 任务右滑上部分公共部分 */
.cardcardcard {
  height: 100%;
}
.applyfor-top {
  height: 48px;
  line-height: 48px;
  border-top: 1px solid #dae9f9;
  border-bottom: 1px solid #dae9f9;
  background-color: #fff;
  padding-left: 20px;
  position: relative;
  margin-bottom: 4px ;
}
.applyfor-top .font {
  position: absolute;
  top: 0px;
  left: 60px;
}
.statuss {
  background-color: #fff;
  border-top: 1px solid #dae9f9;
  border-bottom: 1px solid #dae9f9;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 14px;
  box-sizing: border-box;
}
.statusbox {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  width: 200px;
  border-bottom: 1px dashed #cacaca;
  font-size: 18px;
  margin-right: 30px;
}
.statusbox-font {
  color: #7e8b8e;
}
.taskSliderBox {
  height: 26px;
  line-height: 26px;
  font-size: 18px;
  color: #7e8b8e;
  margin-top: 4px;
}
.gong-information-box {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  margin-top: 4px;
  border-bottom: 1px dashed #cacaca;
  color: #7e8b8e;
  font-size: 18px;
}
.Slider {
  width: 720px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 14px;
  margin-right: 14px;
}
/* 任务右滑上部分公共部分结束 */
/* 右滑详情下划线 */
.applyfor-information-box {
  margin-top: 20px;
  position: relative;
}
.information-box {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  min-width: 300px;
  max-width: 480px;
  border-bottom: 1px dashed #cacaca;
  color: #7e8b8e;
  font-size: 18px;
}
.information-box-font {
  color: #000;
  font-size: 16px;
}
.information-box2 {
  position: absolute;
  color: #7e8b8e;
  top: 0px;
  left: 490px;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  min-width: 300px;
  max-width: 450px;
  border-bottom: 1px dashed #cacaca;
  font-size: 18px;
}
.height-auto {
  height: 100%;
}
.eqconfig-information-box {
  margin-top: 6px;
  position: relative;
}
.gong-box-font {
  color: #000;
  font-size: 18px;
}
.hov:hover {
  background-color: #f5f7fa;
}
.eqconfig-bot-btn {
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 5px;
}
.EqconfigContent-title {
  box-sizing: border-box;
  height: 46px;
  line-height: 46px;
  background-color: #fff;
  padding-left: 24px;
  margin-top: 4px;
  border-top: 1px solid #dae9f9;
  border-bottom: 1px solid #dae9f9;
}
.EqconfigContentfont {
  font-size: 20px;
  color: #4d5d71;
  margin-left: 12px;
}
#detection-icon {
  font-size: 32px;
  color: #1ac7ff;
}
.sbck {
  background-color: #409eff;
}
.bgsh {
  background-color: #f04864;
}
.wwjc {
  background-color: #2fc25b;
}
.jcsh {
  background-color: #e6a23c;
}
.sysjc {
  background-color: #f56c6c;
}
.hjpz {
  background-color: #909399;
}
.sbrk {
  background-color: #b258f8;
}
.htqd {
  background-color: #0488a9;
}
.sqsp {
  background-color: #f61c11;
}
.tubiao-tool {
  position: absolute;
  border-radius: 4px;
  background-color: rgba(256, 256, 256, 0.9);
  box-shadow: 0 0 6px #9b9b9b;
  padding: 7px 10px 7px 10px;
}
.tool-box {
  font-size: 14px;
  height: 28px;
  line-height: 28px;
}
.tool-span {
  display: inline-block;
  color: #575757;
}
.warning {
  color: #e6a23c;
}
.sard {
  top: 0;
  right: 0;
  position: absolute;
  background-color: #f0f4f8;
  box-shadow: 0px 0px 4px 3px #acd2fa;
  border-radius: 6px;
  height: 100%;
  width: 940px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -os-transition: all 0.5s;
  -os-transform: translateX(0%);
  z-index: 2;
  transform: translateX(0%);
}
.hidden {
  top: 0;
  right: 0;
  z-index: 99999;
  position: absolute;
  background-color: #f0f4f8;
  box-shadow: 0px 0px 4px 3px #acd2fa;
  border-radius: 6px;
  height: 100%;
  z-index: 2;
  width: 940px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -os-transition: all 0.5s;
  -os-transform: translateX(110%);
  transform: translateX(110%);
}
.taskright-title {
  height: 46px;
  line-height: 46px;
  background-color: #fff;
  padding-left: 20px;
  position: relative;
  border-top-left-radius: 6px;
  border-bottom: 1px solid #dae9f9;
  margin-bottom: 4px;
}
.taskright-title .fontt {
  position: absolute;
  top: 0px;
  left: 60px;
  font-size: 22px;
  color: #4d5d71;
  font-family: Microsoft YaHei;
}
.taskright-title .iicon {
  position: absolute;
  right: 20px;
  top: 14px;
  color: #777777;
  font-size: 24px;
  cursor: Pointer;
}
